*.retry
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
.ansible/
.cache/
.vscode/
.idea/
*.swp
*.swo
*.log
*.tmp
*.bak
Thumbs.db
.DS_Store
ansible-venv/
backups/
network_audit/
hosts.yaml
hosts_discovered.yaml
downloads/
*.npk
*.tar.gz
reports/
idem/
NetworkCapture/
*.pcap
*.pcapng